

//CONTAINER
    .container {
        @include outer-container();
    }

//LISTS
    ul {
        li {
            display: inline-block;
            font-size: 1.2rem;
            float: left;
            margin: 0 1rem;
            color: $link-color;
            font-family: $heading-font;
        }
    }
//LINKS
    a {
        color: $link-color;
        font-family: $heading-font;
            
    }      