/*=================================
=            Variables            =
=================================*/

/*----------  fonts  ----------*/


$heading-font: 'Amaranth', sans-serif !default;
$text-font: 'Titillium Web', sans-serif !default;
$primary-font: 'Amaranth', sans-serif !default;


/*----------  colors  ----------*/

$text-color: #E2FCEF !default;
$primary-color: #2B303A !default;
$link-color: #EDF060 !default;
$secondary: #1C1C1C !default;


/*----------  base  ----------*/

$container-width: 1024px !default;
$base-space-unit: 1rem  !default;