
//HEADER
    header {
        background-color: $primary-color;
        height: 500px;
        color: $text-color;
        position: relative;

        &:after {
        content: "";
        position: absolute;
        transform: rotate(3deg);
        transform-origin: 0% 0%;
        width: 120%;
        height: 180px;
        bottom: 0px;
        left: 0;
        background: $primary-color;
        z-index: 1;
        }

        nav {
            padding: 1.5rem 0;
        }
        ul {
            @include span-columns(6);
           display: flex;
           justify-content: center;
           li {
               letter-spacing: 1px;
               line-height: 32px;
               color: $link-color;
           }
        }

        .logo {
            @include span-columns(6);
            font-size: 2rem;
            letter-spacing: 1.5px;
            color: #2cf7f3;
            font-weight: 700;
        }

        .textWrapper {
            width: 80%;
            margin: 8rem auto;
          h2 {
              
          }
        }
        
    }
//SKILLS

    .skills {
        background: #98C1D9;
        height: 500px;
        position: relative;

        &:after {
        content: "";
        position: absolute;
        transform: rotate(3deg);
        transform-origin: 0% 0%;
        width: 120%;
        height: 180px;
        bottom: 0px;
        left: 0;
        background: #98C1D9;
        }

        .ppc-progress {
            @include circle($size);
            clip: rect(0, $size, $size, #{$size/2});
            .ppc-progress-fill {
                @include circle($size);
                clip: rect(0, #{$size/2}, $size, 0);
                background: #81CE97;
                transform: rotate(60deg);
                }
            .gt-50 & {
                clip: rect(0, #{$size/2}, $size, 0);
                .ppc-progress-fill {
                    clip: rect(0, $size, $size, #{$size/2});
                    background: #E5E5E5;
                }
            }   
        }
        .ppc-percents {
            @include circle(#{$size/1.15});
            background: #fff;
            text-align: center;
            display: table;
            span {
            display: block;
            font-size: 2.6em;
            font-weight: bold;
            color: #81CE97;
            }
        }
        .pcc-percents-wrapper {
            display: table-cell;
            vertical-align: middle;
        }

        .progress-pie-chart {
            margin: 50px auto 0;
        }

    }


//OUR WORK

    .our-work {
        height: 500px;
        background: #25283D;
    }