
//HEADER
    header {
        background-color: $primary-color;
        height: 500px;
        color: $text-color;
        position: relative;

        &:after {
        content: "";
        position: absolute;
        transform: rotate(3deg);
        transform-origin: 0% 0%;
        width: 120%;
        height: 180px;
        bottom: 0px;
        left: 0;
        background: $primary-color;
        z-index: 1;
        }

        nav {
            padding: 1.5rem 0;
        }
        ul {
            @include span-columns(6);
           display: flex;
           justify-content: center;
           li {
               letter-spacing: 1px;
               line-height: 32px;
               color: $link-color;
           }
        }

        .logo {
            @include span-columns(6);
            font-size: 2rem;
            letter-spacing: 1.5px;
            color: #2cf7f3;
            font-weight: 700;
        }
        
    }
//SKILLS

    .skills {
        background: #25283D;
        height: 500px;
        position: relative;

        &:after {
        content: "";
        position: absolute;
        transform: rotate(3deg);
        transform-origin: 0% 0%;
        width: 120%;
        height: 180px;
        bottom: 0px;
        left: 0;
        background: #25283D;
        }
    }


//OUR WORK

    .our-work {
        height: 500px;
        background: #98C1D9;
    }